.container {
    max-width: 95%;
}

.dealsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dealsRow .card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 3px 0 6px rgba(0, 0, 0, 0.23);
    border: none;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 0px 15px;
    padding: 0px 30px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
}

.card .off {
    background: rgba(168, 168, 168, 0.25) !important;
    outline: none;
    font-size: 14px !important;
    width: auto;
    padding: 5px 10px;
    margin: 0px 10px ;
    text-transform: capitalize;
    outline: none;
    color: #255280;
}

.card h5 {
    text-align: center;
    margin-top: 15px;
}

.card p {
    font-size: 18px;
    opacity: 0.7;
}

.card .cost h4 {
    opacity: 0.8;
    font-weight: 400;
}

.card .cost p {
    font-size: 16px;
    padding-bottom: 0px;
}

.dealButton {
    border-radius: 10px !important;
    color: #fff !important;
    text-transform: capitalize !important;
    padding: 10px 0px !important;
    font-size: 16px !important;
    outline: none !important;
}

.signupRow h1 {
    width: 100%;
    font-weight: 400;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.signup input {
    width: 1/2;  
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}



.signup button {
    height: 44px; /* Match input height */
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup button:hover {
    background-color: #0056b3;
}