.container{
    max-width: 95%;
}

.dealsRow{
    display: flex;
    flex-wrap: wrap;
    border: none;
}

.dealsRow .card{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 3px 0 6px rgba(0, 0, 0, 0.23);
    border: none;
    width: 31%;
    border-radius: 10px;
    margin: 0px 15px;
    padding: 0px 30px;
}

.card img{
    width: 200px;
    height: auto;
    margin: 60px 0px;
    transform: translateX(40%);
}

.card .off{
    background: rgba(168, 168, 168, 0.25) !important;
    outline: none;
    font-size: 14px !important;
    width: auto;
    padding: 5px 10px;
    margin: 0px 10px ;
    text-transform: capitalize;
    outline: none;
    color: #255280;
}

.card h5{
    text-align: center;
    margin-top: 15px;
}

.card p{
    font-size: 18px;
    opacity: 0.7;
}

.card .cost h4{
    opacity: 0.8;
    font-weight: 400;
}

.card .cost p{
    font-size: 16px;
    padding-bottom: 0px;
}

.dealButton{
    border-radius: 10px !important;
    color: #fff !important;
    text-transform: capitalize !important;
    padding: 10px 0px !important;
    font-size: 16px !important;
    outline: none !important;
}

.signUpRow h1{
    width: 80%;
    font-weight: 400;
}

.signup{
    position: relative;
}

.signup input{
    position: absolute;
    width: 80%;
    height: 60px;
    background: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 0.5px solid #000;
}

.signup button{
    padding: 10px 20px;
    width: 20%;
    height: 60px;
    right: 0px;
    top: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    text-transform: capitalize;
    outline: none;
    color: #fff;
    font-size: 18px;
}