.footerPage{
    background: #3a4750;
    color: #fff;
    margin: 0px 15px;
}

ul li{
    list-style-type: none;
    padding: 5px;
}

p svg{
    vertical-align: middle;
}

.footerPage p{
    margin-top: 30%;
}

h3{
    font-weight: 400;
}